.signup-container {
    background-color: $color-black-dark;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: $color-white;

    &__div {
        margin: 2rem;
        width: 25%;
    }

    i {
        color: $color-white;
        font-size: 4rem;
    }

    &__form {

        label {
            align-self: start;
            display: block;
            color: $color-white;
            text-align: start;
            margin-bottom: 0.7rem;
            font-size: 1.4rem;
            font-weight: 700;
        }

        input {
            border: 1px solid rgba($color-white, 0.4);
            color: $font-color;
            font-size: 1.6rem;
            border-radius: 5px;
            padding: 1.3rem;
            width: 100%;
            outline: none;
            background-color: transparent;

            &:focus:invalid {
                border: 2px solid red;
            }

            &::placeholder {
                font-size: 1.4rem;
                font-weight: 700;
                font-family: inherit;
                border-left: $font-color;
            }

            &:hover {
                border: 1px solid $color-white;
                outline: none;
            }
        }

        &--warning {
            margin: 1rem 0;
            color: red;
            font-size: 1.3rem;
            font-weight: 600;
            text-align: left;
            display: flex;
            gap: 0.5rem;

            i {
                font-size: 1.5rem;
                color: red;
            }
        }
    }

    &__text {
        color: $font-color;
        font-size: 1.5rem;

        a {
            color: $color-white;
            text-shadow: 0 0 1px $color-white;
            margin-left: 4px;
        }
    }

    &__footer {
        margin: 0.5rem 1rem 0;
        font-size: 1.2rem;
        line-height: 1.3;
        color: $font-color;

        a {
            color: inherit;
        }
    }
}

.clr-google {
    background: linear-gradient(to right, #ea4335, #fbbc05, #34a853, #4285f4);
    color: transparent !important;
    background-clip: text;
}


.showBtn {
    background-color: transparent;
    color: $font-color;
    outline: none;
    border: none;
    transition: all 0.2s;
    font-size: 1.5rem;
    position: absolute;
    transform: scale(0.6) translateX(-160%) translateY(10%);

    &:hover {
        color: $color-white;
        cursor: pointer;
    }

    &:active {
        color: inherit;
    }

    i{
        color: inherit;
    }
}