.u-center-text{text-align: center !important;}
.u-align-left{text-align: left !important;}
.u-align-right{text-align: right !important;}

//Margin Utilities

.u-mb-small {margin-bottom: 1.5rem !important;}
.u-mb-medium{margin-bottom: 4rem !important;}
.u-mb-large {margin-bottom: 7rem !important;}

.u-mr-small {margin-right: 1.5rem !important;}
.u-mr-medium{margin-right: 4rem !important;}
.u-mr-large {margin-right: 7rem !important;}

.u-ml-small {margin-left: 1.5rem !important;}
.u-ml-medium{margin-left: 4rem !important;}
.u-ml-large {margin-left: 7rem !important;}

.u-mt-small {margin-top: 1.5rem !important;}
.u-mt-medium{margin-top: 4rem !important;}
.u-mt-large {margin-top: 7rem !important;}

//Padding Utilities

.u-pb-small {padding-bottom: 1.5rem !important;}
.u-pb-medium{padding-bottom: 4rem !important;}
.u-pb-large {padding-bottom: 7rem !important;}

.u-pr-small {padding-right: 1.5rem !important;}
.u-pr-medium{padding-right: 4rem !important;}
.u-pr-large {padding-right: 7rem !important;}

.u-pl-small {padding-left: 1.5rem !important;}
.u-pl-medium{padding-left: 4rem !important;}
.u-pl-large {padding-left: 7rem !important;}

.u-pt-small {padding-top: 1.5rem !important;}
.u-pt-medium{padding-top: 4rem !important;}
.u-pt-large {padding-top: 7rem !important;}

//Colors

.u-clr-blue{color:#1877f2  !important;}
.u-clr-grey{color:$font-color !important;}


//WIDTH
.u-width-1{width:10% !important;}
.u-width-2{width:20% !important;}
.u-width-3{width:30% !important;}
.u-width-4{width:40% !important;}
.u-width-5{width:50% !important;}
.u-width-6{width:60% !important;}
.u-width-7{width:70% !important;}
.u-width-8{width:80% !important;}
.u-width-9{width:90% !important;}
.u-width-10{width:100% !important;}

//POSITION
.u-pos-absolute{position: absolute !important;}
.u-pos-relative{position: relative !important;}